.main-container{
    width:60%;
    height:60%;
    margin: 10px ;
    padding:20px;
    box-shadow:0px 0px 8px grey;
    background-color:white;
    
}

.btn
{
    margin-left: 5px;
    
}
.col-form-label{
    float: left;
    text-align: left;
}