
<div class="container">
<div class="iSlot-header">
  <h1 class="iSlot-title">  Welcome to iSlot Page</h1><br>
  <p class="lead iSlot-description"> iSlot involves sourcing a person you believe has all the skills you want for your business.<br>
    This application is created for the ease of company to recruit new employees and also for<br> giving the complete
    information about the recuirtment process of new employees.</p>
</div>
<!-- <div class="col-sm-3 col-sm-offset-1 iSlot-sidebar">
    <div class="sidebar-module sidebar-module-inset"> -->
      <div class="bts">
          <button type="button" class="btn btn-success btn-block" routerLink="admin/home">Login as Admin</button><br>
          <button type="button" class="btn btn-success btn-block" routerLink="interviewer/home">Login as Interviewer </button><br>
          <button type="button" class="btn btn-primary btn-block" routerLink="admin/regadmin">Register as Admin</button><br>
          <button type="button" class="btn btn-primary btn-block" routerLink="interviewer/reginterviewer">Register as Interviewer</button>
      </div>
      <img src="assets/images/btsss.PNG" class="img-rounded" alt="interview image">

      
<div class="footer">
    <p>@copyright-SWIFT</p>
  </div>

</div>
