<app-header text=" Location Managment" [charticon]="chart"></app-header>
<div class="container">
    <input type="text" class="form-control"  placeholder="Add new Location" #locationBox (keydown.enter)="addLocation(locationBox)">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngFor="let key of keys">
        <div class="locationTile" >
            <div class="delIcon">
                    <i class="glyphicon glyphicon-trash"  (click)='onDel(key)'></i>
                <!-- <img src="../assets/images/delete" alt="delete" (click)='onDel(key)'> -->
            </div>
            <input type="text" value="{{data[key].location}}" #skillEdit (change)="onUpdate(key,locationEdit)">    
        </div>
    </div>
  </div>

