.btn{
  margin-top: 20px;
  margin-bottom: 20px;
}
#border_id{
width: 300px;
 margin:100px 100px 100px 676px; 
border:1px solid black;
}
/* .row{
  justify-content: center;
} */
/* .col-lg-12{
  justify-content: center;
} */
/* .nav{
justify-self: center;
} */
